{{page-title "Homepage"}}

<div class="header" style="margin-left: 8rem; overflow: hidden;">
<h1 id="title" style="background-color: #141919; width: 25rem;">Music Studio Manager</h1>
<nav class="navbar">
    <li class="navigation">
        <a href="/home">Home</a>
        <a href="/device"> Create Device</a>
        <a href="/device-type"> Create Type</a>
        <a href="/mydevices"> My Devices</a>
    </li>
</nav>
</div>
{{outlet}}