{{page-title "Homepage"}}
<div class="my-2" style="width: 40%; margin-left: 8rem;">
  <h2 style="color: #ffff">
    This is a manager tool to for music studio equipment. You can create your
    own studio confuguration and keep track of which devices are linked to each
    other.
  </h2>
</div>
{{outlet}}